*,
before,
after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #fff;
}

.header{
    
    background-color: #000;
    background-image: url('/img/download.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.header::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 300vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.55);
}

.container{
    position: relative;
    z-index: 1;
}

/* NAVBAR */

.logo{
    color: #000;
    position: absolute;
    left: 7.5rem;
    width: 100px;
    top: 0;
    background-color: #000;
}


.nav{
    width: 90%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 30px 0;
    background-color: #000;
}

.nav__row{
    display: flex;
    width: 550px;
    justify-content: space-around;
    font-size: 20px;
}

.navbar{
    margin-right: 40px;
}

.navbar__btn{
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    transition: color .2s;
}

.navbar__btn:hover{
    color: #fce38a;
}

.navbar__link{
    text-decoration: none;
    color: #fff;
    margin-right: .6em;
}

.title{
    width: 650px;
    text-align: center;
    margin: 150px auto 0;
}

.title__text{
    font-size: 5.5rem;
    margin-bottom: 30px;
}

.subtitle__btn{
    padding: 15px 25px;
    background-color: #fce38a;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    transition: background .2s;
}

.subtitle__btn:hover{
    background-color: #FEFF86;
}

/* FOOTER */

.footer{
    display: flex;
    flex-direction: column;
    margin-top: 15rem;
    text-align: center;
}

/* ABOUT */

.title__p{
    font-size: 1.5rem;
}

.regulations{
    text-align: center;
    margin-top: 20rem;
}

.regulation__title{
    font-size: 1.5rem;
}

.regulation__p{
    width: 800px;
    font-size: .95rem;
    line-height: 1.5;
    margin: 0 auto;
}

.goals{
    width: 80%;
    margin: 400px auto 0;
    height: 350px;
    background-color: #FEFF86;
    color: #000;
    text-align: center;
}

.goal__title{
    font-size: 3.5rem;
    padding: 50px 0 25px;
}

.goal__subtitle{
    padding-bottom: 25px;
}

.goal__p{
    width: 600px;
    font-size: 1.25rem;
    margin: 0 auto;
    margin-bottom: 20px;
}

.left{
    font-size: 25px;
    position: relative;
    bottom: 7.813rem;
    right: 34.375rem;
    cursor: pointer;
}

.right{
    font-size: 25px;
    position: relative;
    bottom: 7.813rem;
    left: 33.75rem;
    cursor: pointer;
}
